<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- Titulo -->
    <title>Stilus Viagens - Destinos</title>
</head>

<body>
<!-- Cabeçalho -->
    <header class="bg-primary text-white text-center py-5">
        <h1>Bem-vindo à Stilus Viagens</h1>
        <p>Sua agencia de viagens 100% Nacional</p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Stilus Viagens</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="./">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/destino">Destinos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/promocoes">Promoções</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contato">Contato</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Login
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/entrar">Entrar</a></li>
							<li><a class="dropdown-item" href="/usuario/cadastrar">Cadastre-se</a></li>
						</ul>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Pesquisar</button>
				</form>
			</div>
		</div>
	</nav>
    <!--  Fim da barra de navegação  -->

<!-- Main Container -->
   <div class="container">
        <h1>Editar Promoção</h1>
        <form method="POST" th:object="${promocoes}">

			<input type="hidden" th:field="*{id}">

            <div class="form-group mb-3">
				<label for="usuario" class="form-label">Usuario</label>
				<!-- <select th:field="*{usuario}" class="form-control"> -->
					<option th:each="usuario : ${usuario}" th:text="${usuario.nome}" th:value="${usuario.id}"></option>
				</select>
			</div>
			
			<div class="form-group mb-3">
				<label for="destino" class="form-label">Destino</label>
				<select th:field="*{destino}" class="form-control">
					<option th:each="destino : ${destino}" th:text="${destino.destino_viagem}" th:value="${destino.id}"></option>
				</select>
			</div>
			
            <div class="form-group mt-2 mb-2">
				<label for="descricao" class="form-label">Descrição:</label>
				<input type="text" class="form-control" id="descricao" th:field="*{descricao}">
			</div>
            
            
             <div class="form-group mt-2 mb-2">
				<label for="preco" class="form-label">Preço:</label>
				<input type="text" class="form-control" id="preco" th:field="*{preco}">
			</div>
            <button type="submit" class="btn btn-primary">Salvar informações</button>
        
            
        </form>
    </div>

    <!-- RODAPE -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2023 Stilus Viagens. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>